spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url:
    username:
    password:
  sql:
    init:
      mode: always
      continue-on-error: false
#      data-locations: classpath:demo_data.sql

security:
  jwt:
    secret:
    access: 1
    refresh: 3
